@import '_mixings.scss';

/********************* 변수 *************************/
$kor-language: 'Noto Sans KR', sans-serif;
$en-language: 'Poppins', sans-serif;
$white-color: #fff;
$block-color: #000;

/****************** CSS reset *************************/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: $en-language;
    color: $white-color;
}

/* prettier-ignore */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
/* prettier-ignore */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    line-height: 1;
    background: $block-color;
    user-select: none;
    overflow-x: hidden;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    text-decoration: none;
}

::-webkit-scrollbar {
    width: 8px;
    background: #000;
}

::-webkit-scrollbar-thumb {
    background: #999;
    border-radius: 10px;
}
/**************** mouse *******************/
.mouse-effect {
    position: absolute;
    width: 50px;
    height: 50px;
    border: 2px solid #fff;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    transition: 0.2s;
    pointer-events: none;
    mix-blend-mode: difference;
    z-index: 999;

    &.in-nav {
        width: 100px;
        height: 100px;
        background: rgb(255, 255, 255);
    }
}

/*********************** header *************************/
.header {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: 16px;
    font-weight: 600;
    @include grid-padding;
    padding-bottom: 0;
    z-index: 99;

    &_logo {
        z-index: 99;
    }

    &_mobile-menu {
        display: none;
        padding: 0.75em 0.5em;
        cursor: pointer;
        z-index: 99;
    }

    nav {
        ul {
            display: flex;
            width: 100%;
            height: 100%;
            li {
                &:not(:last-child) {
                    margin-right: 2.375em;
                }
                a {
                    padding: 0.75em 0.5em;
                }
            }
        }
    }
}

/*********************** main *************************/
.main {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-top: 128px;
    overflow: hidden;

    &_back-text,
    &_front-text {
        font-size: 6.770833333333333vw;
        font-weight: 700;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        white-space: nowrap;
        p {
            overflow: hidden;
            span {
                display: inline-block;
            }
        }
    }

    &_front-text {
        span {
            color: transparent;
            -webkit-text-stroke: 0.008em rgb(255, 255, 255);
        }
    }

    &_banner-box {
        width: 31.66vw;
        height: 51.249vw;
        position: relative;
        top: 6.25vw;
        background-image: url('/img/main-banner.jpg');
        background-size: cover;
        background-position: center center;

        &::before {
            @include before;
        }

        .main_scroll-box {
            width: 24.3%;
            height: 16.4%;
            position: absolute;
            left: calc(-24.3% / 2);
            top: calc(-16.4% / 2);
            animation: scroll 10s linear infinite;

            img {
                width: 100%;
            }
        }
    }
}

@keyframes scroll {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}
/*********************** about *************************/
.about {
    @include grid-padding;

    &_main-title-box {
        p {
            span {
                @include seaction-title;
            }

            &:nth-child(2) {
                span {
                    @include seaction-title(#fff, 0);
                }
            }
        }
    }

    &_introduce {
        display: flex;
        align-items: center;
        margin-top: 1em;
        .introduce_img-box {
            position: relative;
            flex: 2;

            &::before {
                @include before;
            }

            img {
                width: 100%;
                height: auto;
            }
        }

        .introduce_text {
            flex: 1;
            font-family: $kor-language;
            font-size: 18px;
            font-weight: 500;
            line-height: 1.8;
            margin-left: 24px;
            word-break: keep-all;
        }
    }

    &_career {
        margin-top: 120px;
        display: flex;

        .career_record,
        .career_stack {
            font-size: 24px;
            padding-right: 24px;
            word-break: keep-all;
            line-height: 1.8;

            .title {
                display: inline-block;
                margin-bottom: 1em;
                font-weight: 500;
            }

            .list {
                font-size: 18px;

                li {
                    margin-bottom: 0.5em;
                }
            }
        }

        .career_record {
            flex: 1;
            font-family: $kor-language;
            .title {
                &::after {
                    content: '';
                    display: block;
                    width: 100%;
                    height: 2px;
                    background: #fff;
                }
            }
        }

        .career_stack {
            flex: 1;
            .title {
                &::after {
                    content: '';
                    display: block;
                    width: 100%;
                    height: 2px;
                    background: #fff;
                }
            }
        }
    }
}

/*********************** work *************************/
.work {
    @include grid-padding;
    &_main-title-box {
        text-align: right;
        p {
            span {
                @include seaction-title;
            }

            &:nth-child(2) {
                span {
                    @include seaction-title(#fff, 0);
                }
            }
        }
    }

    &_project {
        margin-top: 60vh;
        .work_project_num {
            @include num-title;

            &.left {
                text-align: left;
            }
        }

        .work_project_img-box {
            width: 51.979166666666664vw;

            &.right {
                margin-left: auto;
            }

            img {
                width: 100%;
            }
        }

        .work_project_info-wrapper {
            &.right {
                text-align: right;
            }
            .project_day {
                margin-top: 24px;
                font-size: 16px;
            }

            .project_title {
                margin-top: 30px;
                font-size: 26px;
                font-weight: 600;
            }

            .project_ability {
                display: inline-block;
                margin-top: 12px;
                font-family: $en-language;
                font-size: 18px;

                &:not(:last-child) {
                    margin-right: 24px;
                }

                &.right:not(:first-child) {
                    margin-left: 24px;
                    margin-right: 0;
                }
            }

            .project_link {
                position: relative;
                width: 207px;
                margin-top: 36px;
                text-align: center;
                &.right {
                    margin-left: auto;
                }

                &::before {
                    content: '';
                    position: absolute;
                    left: 0;
                    width: 52px;
                    height: 52px;
                    border-radius: 52px;
                    border: 1px solid #fff;
                    top: 50%;
                    transform: translateY(-50%);
                    transition: 0.3s ease-out;
                    z-index: -1;
                }
                a {
                    display: inline-block;
                    font-family: $en-language;
                    font-size: 24px;
                    font-weight: 600;
                    padding: 18px 0;
                    transition: 0.3s ease-out;
                }

                i {
                    margin-left: 10px;
                    font-size: 18px;
                    transition: 0.3s ease-out;
                }

                &:hover a {
                    color: #000;
                }

                &:hover i {
                    color: #000;
                }

                &:hover::before {
                    width: 100%;
                    background: #fff;
                    border-radius: 52px;
                }

                &:hover i {
                    transform: translateX(6px);
                }
            }
        }
    }
}
/*********************** contact *************************/
.contact {
    &_main-title-box {
        text-align: center;
        p {
            span {
                @include seaction-title;
            }

            &:nth-child(2) {
                span {
                    @include seaction-title(#fff, 0);
                }
            }
        }
    }
    &_text {
        margin-top: 18.51851851851852vh;
        text-align: center;
        .text_box {
            &:not(:last-child) {
                margin-bottom: 70px;
            }

            .text_title {
                font-size: 36px;
                font-weight: 600;
                span {
                    margin-bottom: 8px;
                }
            }
            .sub_text {
                font-size: 28px;
                font-weight: 500;

                a {
                    margin-bottom: 8px;
                    display: inline-block;
                }
            }
        }
    }
}

footer {
    @include grid-padding;
    margin-top: 22.22222222222222vh;
    text-align: center;
    font-size: 16px;
}

/*********************** 반응형 1280px *************************/
@media screen and (max-width: 1280px) {
    .header {
        padding-bottom: 0;
        font-size: 14px;
    }

    .main {
        margin-top: 52px;
    }
}

/*********************** 반응형 960px *************************/
@media screen and (max-width: 960px) {
    .mouse-effect {
        display: none;
    }

    .main {
        &_back-text,
        &_front-text {
            font-size: 10.416666666666668vw;
        }

        &_banner-box {
            width: 45.83333333333333vw;
            height: 74.21875vw;
        }
    }

    .about {
        &_introduce {
            flex-direction: column;
            align-items: flex-start;

            .introduce_text {
                margin-top: 1.333em;
                margin-left: 0;
            }
        }

        &_career {
            margin-top: 80px;
            flex-direction: column;

            .career_record,
            .career_stack {
                padding: 0;
            }

            .career_stack {
                margin-top: 80px;
            }
        }
    }

    .work {
        &_project {
            .work_project_img-box {
                width: 100%;
            }
        }
    }
}

/*********************** 반응형 640px *************************/
@media screen and (max-width: 640px) {
    .header {
        padding-bottom: 0;

        &_mobile-menu {
            display: block;
        }

        nav {
            opacity: 0;
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            padding-top: 112px;
            padding-left: 12px;
            background: #000;
            transform: translateX(100%);
            transition: 0.5s ease-out;
            ul {
                flex-direction: column;
                width: 100%;
                height: 100%;
                font-size: 40px;

                li {
                    &:not(:last-child) {
                        margin-right: 0;
                        margin-bottom: 24px;
                    }

                    a {
                        display: inline-block;
                        padding: 12px 8px;
                    }
                }
            }
        }
        .view-menu {
            opacity: 1;
            transform: translateX(0);
        }
    }

    .main {
        margin-top: 55px;

        &_back-text,
        &_front-text {
            font-size: 11.11111111111111vw;
        }

        &_banner-box {
            width: 57.77777777777777vw;
            height: 93.33333333333333vw;

            .main_scroll-box {
                width: 34.3%;
                height: 23.4%;
                position: absolute;
                left: calc(-34.3% / 2);
                top: calc(-23.4% / 2);
            }
        }
    }

    .about {
        &_introduce {
            .introduce_text {
                font-size: 14px;
            }
        }

        &_career {
            .career_record,
            .career_stack {
                font-size: 18px;

                .title {
                    padding-bottom: 0;
                }

                .list {
                    font-size: 14px;
                }
            }
        }
    }

    .work {
        &_project {
            .work_project_info-wrapper {
                .project_day {
                    margin-top: 12px;
                    font-size: 12px;
                }

                .project_title {
                    margin-top: 24px;
                    font-size: 22px;
                }

                .project_ability {
                    margin-top: 8px;
                    font-size: 14px;

                    &:not(:last-child) {
                        margin-right: 12px;
                    }

                    &.right:not(:first-child) {
                        margin-left: 12px;
                    }
                }

                .project_link {
                    margin-top: 26px;
                    width: 164px;

                    &::before {
                        width: 40px;
                        height: 40px;
                    }

                    a {
                        font-size: 18px;
                        padding: 12px 0;
                    }

                    i {
                        margin-left: 6px;
                        font-size: 16px;
                    }
                }
            }
        }
    }

    .contact {
        &_text {
            .text_box {
                .text_title {
                    font-size: 22px;
                    span {
                        margin-bottom: 4px;
                    }
                }

                .sub_text {
                    font-size: 18px;
                    a {
                        margin-bottom: 4px;
                    }
                }
            }
        }
    }

    footer {
        font-size: 12px;
    }
}
