@import '_mixings.scss';

/********************* 변수 *************************/
$kor-language: 'Noto Sans KR', sans-serif;
$en-language: 'Poppins', sans-serif;
$white-color: #fff;
$block-color: #000;

/****************** CSS reset *************************/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: $en-language;
    color: $white-color;
}

/* prettier-ignore */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
/* prettier-ignore */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    line-height: 1;
    background: $block-color;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    text-decoration: none;
}

::-webkit-scrollbar {
    width: 8px;
    background: #000;
}

::-webkit-scrollbar-thumb {
    background: #999;
    border-radius: 10px;
}

/*********************** header *************************/
.header {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: 16px;
    font-weight: 600;
    @include grid-padding;
    padding-bottom: 0;
    z-index: 99;

    &_logo {
        z-index: 99;
    }

    &_mobile-menu {
        display: none;
        padding: 0.75em 0.5em;
        cursor: pointer;
        z-index: 99;
    }

    nav {
        ul {
            display: flex;
            width: 100%;
            height: 100%;
            li {
                &:not(:last-child) {
                    margin-right: 2.375em;
                }
                a {
                    padding: 0.75em 0.5em;
                }
            }
        }
    }
}

/*********************** main *************************/
.main {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-top: 128px;
    overflow: hidden;

    &_back-text,
    &_front-text {
        font-size: 6.770833333333333vw;
        font-weight: 700;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        white-space: nowrap;
        p {
            overflow: hidden;
            span {
                display: inline-block;
            }
        }
    }

    &_front-text {
        span {
            color: transparent;
            -webkit-text-stroke: 0.008em rgb(255, 255, 255);
        }
    }

    &_banner-box {
        width: 31.66vw;
        height: 51.249vw;
        position: relative;
        top: 6.25vw;
        background-image: url('/img/main-banner.jpg');
        background-size: cover;
        background-position: center center;

        &::before {
            @include before;
        }

        .main_scroll-box {
            width: 24.3%;
            height: 16.4%;
            position: absolute;
            left: calc(-24.3% / 2);
            top: calc(-16.4% / 2);
            animation: scroll 10s linear infinite;

            img {
                width: 100%;
            }
        }
    }
}

@keyframes scroll {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}
/*********************** about *************************/
.about {
    @include grid-padding;

    &_main-title-box {
        p {
            overflow: hidden;
            span {
                @include seaction-title;
            }

            &:nth-child(2) {
                span {
                    @include seaction-title(#fff, 0);
                }
            }
        }
    }

    &_introduce {
        display: flex;
        align-items: center;
        margin-top: 1em;
        .introduce_img-box {
            position: relative;
            flex: 2;

            &::before {
                @include before;
            }

            img {
                width: 100%;
                height: auto;
            }
        }

        .introduce_text {
            flex: 1;
            font-family: $kor-language;
            font-size: 18px;
            font-weight: 500;
            line-height: 1.8;
            margin-left: 24px;
            word-break: keep-all;
        }
    }

    &_career {
        margin-top: 120px;
        display: flex;

        .career_record,
        .career_stack {
            font-size: 24px;
            padding-right: 24px;
            word-break: keep-all;
            line-height: 1.8;

            .title {
                display: inline-block;
                margin-bottom: 1em;
                padding-bottom: 8px;
                font-weight: 500;
                border-bottom: 2px solid #fff;
            }

            .list {
                font-size: 18px;

                li {
                    margin-bottom: 0.5em;
                }
            }
        }

        .career_record {
            flex: 1;
            font-family: $kor-language;
        }

        .career_stack {
            flex: 1;
        }
    }
}

/*********************** 반응형 1280px *************************/
@media screen and (max-width: 1280px) {
    .header {
        padding-bottom: 0;
        font-size: 14px;
    }

    .main {
        margin-top: 52px;
    }
}

/*********************** 반응형 960px *************************/
@media screen and (max-width: 960px) {
    .main {
        &_banner-box {
            width: 45.83333333333333vw;
            height: 74.21875vw;
        }
    }

    .about {
        &_introduce {
            flex-direction: column;
            align-items: flex-start;

            .introduce_text {
                margin-top: 1.333em;
                margin-left: 0;
            }
        }

        &_career {
            margin-top: 80px;
            flex-direction: column;

            .career_record,
            .career_stack {
                padding: 0;

                .title {
                    padding-bottom: 4px;
                }
            }

            .career_stack {
                margin-top: 80px;
            }
        }
    }
}

/*********************** 반응형 640px *************************/
@media screen and (max-width: 640px) {
    .header {
        padding-bottom: 0;

        &_mobile-menu {
            display: block;
        }

        nav {
            opacity: 0;
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            padding-top: 112px;
            padding-left: 12px;
            background: #000;
            transition: 0.5s ease-out;
            ul {
                flex-direction: column;
                width: 100%;
                height: 100%;
                font-size: 40px;

                li {
                    &:not(:last-child) {
                        margin-right: 0;
                        margin-bottom: 24px;
                    }

                    a {
                        display: inline-block;
                        padding: 12px 8px;
                    }
                }
            }
        }
        .view-menu {
            opacity: 1;
        }
    }

    .main {
        margin-top: 55px;

        &_back-text,
        &_front-text {
            font-size: 11.11111111111111vw;
        }

        &_banner-box {
            width: 57.77777777777777vw;
            height: 93.33333333333333vw;

            .main_scroll-box {
                width: 34.3%;
                height: 23.4%;
                position: absolute;
                left: calc(-34.3% / 2);
                top: calc(-23.4% / 2);
            }
        }
    }

    .about {
        &_introduce {
            .introduce_text {
                font-size: 14px;
            }
        }

        &_career {
            .career_record,
            .career_stack {
                font-size: 18px;

                .title {
                    padding-bottom: 0;
                }

                .list {
                    font-size: 14px;
                }
            }
        }
    }
}
