/*********************** header *************************/
.header {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: 16px;
    font-weight: 600;
    @include grid-padding;
    padding-bottom: 0;
    z-index: 99;

    &_logo {
        z-index: 99;
    }

    &_mobile-menu {
        display: none;
        padding: 0.75em 0.5em;
        cursor: pointer;
        z-index: 99;
    }

    nav {
        ul {
            display: flex;
            width: 100%;
            height: 100%;
            li {
                &:not(:last-child) {
                    margin-right: 2.375em;
                }
                a {
                    padding: 0.75em 0.5em;
                }
            }
        }
    }
}

/*********************** 반응형 1280px *************************/
@media screen and (max-width: 1280px) {
    .header {
        padding-bottom: 0;
        font-size: 14px;
    }
}

/*********************** 반응형 640px *************************/
@media screen and (max-width: 640px) {
    .header {
        padding-bottom: 0;

        &_mobile-menu {
            display: block;
        }

        nav {
            opacity: 0;
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            padding-top: 112px;
            padding-left: 12px;
            background: #000;
            transform: translateX(100%);
            transition: 0.5s ease-out;
            ul {
                flex-direction: column;
                width: 100%;
                height: 100%;
                font-size: 40px;

                li {
                    &:not(:last-child) {
                        margin-right: 0;
                        margin-bottom: 24px;
                    }

                    a {
                        display: inline-block;
                        padding: 12px 8px;
                    }
                }
            }
        }
        .view-menu {
            opacity: 1;
            transform: translateX(0);
        }
    }
}
